body {
  background: url("../imagens/blue-vintage-decorative-balls-background.jpg")
    no-repeat right;
}

/*header*/
.h-wraper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
/*header - fim*/

/*main*/
.main-div {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  background-size: cover;
  width: 80%;
  height: auto;
  overflow: hidden;
  background-color: #ffffff6b;
}

.previsao-wrap {
  margin: 0 auto;
  min-width: 50%;
}

.previsao {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.search-bar {
  max-width: 80%;
  min-width: 50%;
  border-radius: 1.2em;
  padding-left: 4%;
  min-height: 30%;
  height: 2em;
  margin: 0 auto;
  width: 80%;
  margin-top: 2%;
}

.div-row-itens {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 2%;
  text-align: center;
}

.row-item {
  max-width: 26%;
  min-width: 10%;
  text-align: justify;
  box-shadow: #000000;
  overflow: hidden;
  margin: 2% auto;
  text-align: justify;
  padding: 2%;
}

.row-item-clima {
  width: 60%;
  max-width: 80%;
  min-width: 50%;
}

.row-item:hover,
.row-item-clima:hover {
  background-color: #ffffff96;
}

.bt-submit {
  max-width: 90%;
  width: 86%;
  min-width: 50%;
  border-radius: 1.2em;
  margin-top: 2%;
}

.bt-submit:hover {
  background-color: #0000006b;
  color: #fff;
  cursor: pointer;
}

.a-noticias:hover {
  text-decoration: none;
}
/*main - fim*/
